<div class="bg-state-400 w-[400px] h-[90vh] mx-auto my-10 rounded-md shadow-lg shadow-emerald-300" *ngIf="weatherData">
  <div class="w-full h-2/4 relative overflow-hidden mx-auto ">
    <img src="../assets/day-landscape.png" alt="Day Landscape" class="w-full absolute h-full rounded-t-md" *ngIf="weatherData.main.temp > 58">
    <img src="../assets/landscape-gd6e304348_1280.png" alt="night Landscape" class="absolute w-full h-full rounded-t-md" *ngIf="weatherData.main.temp <= 58">
    <!-- Weather Info -->
    <div class="relative text-center flex flex-col h-full justify-center z-50">
      <p class="text-2xl text-white capitalize ">{{ weatherData.name }} - {{ weatherData.sys.country }}</p>
      <p class="text-7xl text-white">{{ weatherData.main.temp | number: '1.0-0' }} °<button class="border-b-2 border-white rounded-md hover:bg-purple-800 hover:bg-opacity-10">{{ c_or_f }}</button></p>
    </div>
  </div>
  <div class="w-full px-5 py-2">
    <h1 class="text-white text-xl mb-1">More Info:</h1>
    <!-- Weather Info Details -->
    <div class="w-full h-40 bg-slate-500 border-2 border-emerald-800 px-10 py-8 rounded-md align-middle items-center mb-3">
      <div class="w-full mb-6 h-2/4 flex">
        <div class="w-2/4 flex">
          <img src="../assets/cold-thermometer.png" alt="Min" class="h-6 mx-2">
          <h2>  Min {{ weatherData.main.temp_min | number: '1.0-0' }}°{{ c_or_f }}</h2>
        </div>
        <div class="w-2/4 flex">
          <img src="../assets/hot-thermometer.png" alt="Max" class="h-6 mx-2">
          <h2>  Max {{ weatherData.main.temp_max | number: '1.0-0' }}°{{ c_or_f }}</h2>
        </div>
      </div>
      <div class="w-full h-2/4 flex">
        <div class="w-2/4 flex">
          <img src="../assets/humidity.png" alt="Humidity" title="Humidity" class="h-6 rounded-full">
          <h2>  Humidity {{ weatherData.main.humidity }}%</h2>
        </div>
        <div class="w-2/4 flex">
          <img src="../assets/wind.png" alt="Wind" title="Wind" class="h-6 rounded-full">
          <h2>{{ weatherData.wind.speed }} km/h</h2>
        </div>
      </div>
    </div>
    <!-- Change City -->
    <form #form="ngForm" (submit)="OnSubmit()" class="w-full flex">
      <input type="text" placeholder="Search City" name="city" [(ngModel)]="city_name" class="w-2/4 focus:border-none h-9 px-3 rounded-xl bg-slate-600 text-white text-xl shadow-md shadow-emerald-300 border-none mx-auto">
    </form>
  </div>
</div>